#
# Kickstart file create: %DATE% for %HOSTNAME%.najah.edu
#
#
# platform=x86, AMD64, or Intel EM64T
# version=DEVEL
# Install OS instead of upgrade
#
install

#
# Keyboard layouts
#
keyboard 'us'

#
# Root password
#
rootpw --iscrypted  ENCRYPTED_PASSWORD

#
# System language
#
lang en_US

#
# Firewall configuration
#
firewall --disabled

#
# System authorization information
# auth  --useshadow  --passalgo=sha512 --enablenis --nisdomain=maze
#
auth --enableshadow --passalgo=sha512

#
# Use text mode install
#
text
firstboot --disable

#
# SELinux configuration
#
selinux --disabled

#
# Use installation media
# nfs --server=192.168.0.20 --dir=/SL72_x64
#
url --url="http://10.0.0.1/software/centos/7/os/x86_64/"

# 
# Network information
#
network  --bootproto=static --gateway=%GATEWAY% --ip=%IPADDR% --nameserver=172.16.0.1 --netmask=%NETMASK% --hostname=%HOSTNAME%.najah.edu --noipv6

#
# Reboot after installation
#
reboot

#
# System timezone
#
timezone America/Denver

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda

# Partition clearing information
autopart --type=lvm
clearpart --all --initlabel --drives=vda

#
# System services
#
services --enabled="ntpd"


%packages
  @core
  ntp
  kexec-tools
%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

#
#-----------------------------------------------------------------------------------
# Post installation commands
#
%post --log=/root/ks-post.log


#
# Turn off chronyd and turn on ntpd
#
systemctl stop chronyd
systemctl disable chronyd
yum -y install ntp
systemctl start ntpd
systemctl enable ntpd
systemctl status chronyd
systemctl status ntpd

#
#  Remove firewalld
# 
systemctl disable firewalld
systemctl stop    firewalld

#
# Set yum to use the local proxy server
#
echo 'proxy=http://172.16.9.180:3128' >> /etc/yum.conf
http_proxy="http://172.16.9.180:3128/"
export http_proxy

yum -y install yum-plugin-priorities
yum -y install iptables-services iptables-utils
yum -y install epel-release

#
# Install the IPA client
#
echo "172.16.9.180   htc180.najah.edu  htc180 "            >> /etc/hosts
yum -y install freeipa-client
ipa-client-install --domain=najah.edu --server=htc180.najah.edu -U -p admin -w ENCRYPTED_PASSWORD

yum -y install https://repo.opensciencegrid.org/osg/3.4/osg-3.4-el7-release-latest.rpm
yum -y install https://yum.puppetlabs.com/puppet5/puppet5-release-el-7.noarch.rpm

yum -y install https://yum.puppetlabs.com/puppetlabs-release-pc1-el-7.noarch.rpm
yum -y install puppet-agent

echo "10.10.0.1      htc-puppet.najah.edu  htc180  " >> /etc/hosts
echo "[main]"                                    >  /etc/puppetlabs/puppet/puppet.conf
echo "    server = htc-puppet.najah.edu"             >> /etc/puppetlabs/puppet/puppet.conf
echo "[agent]"                                   >> /etc/puppetlabs/puppet/puppet.conf

systemctl enable puppet
systemctl start  puppet

yum -y install traceroute net-tools lsb 
yum -y install nfs-utils rpcbind nmap

yum clean all
yum -y update

#
# Turn off selinux
#
/usr/bin/sed s/SELINUX=enforcing/SELINUX=disabled/ /etc/selinux/config  > /tmp/config; mv /tmp/config /etc/selinux/config

yum -y install *lsb*

reboot 

%end

reboot
